
.navbar-logo {
    color: var(--color-primary) !important;
    font-size: 20px;
}

.navbar-el {
    color: var(--color-muted) !important;
    font-size: 18px;
}

.footer a {
    text-decoration: none;
    color: var(--color-primary);
}

.footer a:hover {
    color: #fff;
}

.footer-features {
    position: relative;
    top: 70px;
    min-height: 200px;
}

.footer {
    margin-top: 60px;
    position: relative;
    bottom: 0px;
    color: var(--color-primary);
    font-weight: 500;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.footer a {
    text-decoration: none;
}

p {
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.hero .lead {
    font-size: 17px;
}